@font-face {
    font-family: 'Proxima Nova Cn Lt';
    src: url('ProximaNova-CondensedLightItalic.woff2') format('woff2'),
        url('ProximaNova-CondensedLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova-BoldItalic.woff2') format('woff2'),
        url('ProximaNova-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Cn Lt';
    src: url('ProximaNova-CondensedSemibold.woff2') format('woff2'),
        url('ProximaNova-CondensedSemibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Cn Rg';
    src: url('ProximaNova-CondensedRegular.woff2') format('woff2'),
        url('ProximaNova-CondensedRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Cn Th';
    src: url('ProximaNova-CondensedExtraboldItalic.woff2') format('woff2'),
        url('ProximaNova-CondensedExtraboldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Cn Rg';
    src: url('ProximaNova-CondensedBold.woff2') format('woff2'),
        url('ProximaNova-CondensedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Cn Th';
    src: url('ProximaNova-CondensedThinItalic.woff2') format('woff2'),
        url('ProximaNova-CondensedThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Cn Bl';
    src: url('ProximaNova-CondensedBlack.woff2') format('woff2'),
        url('ProximaNova-CondensedBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Cn Lt';
    src: url('ProximaNova-CondensedLight.woff2') format('woff2'),
        url('ProximaNova-CondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Cn Rg';
    src: url('ProximaNova-CondensedRegularItalic.woff2') format('woff2'),
        url('ProximaNova-CondensedRegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Cn Rg';
    src: url('ProximaNova-CondensedBoldItalic.woff2') format('woff2'),
        url('ProximaNova-CondensedBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Cn Bl';
    src: url('ProximaNova-CondensedBlackItalic.woff2') format('woff2'),
        url('ProximaNova-CondensedBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Bl';
    src: url('ProximaNova-BlackItalic.woff2') format('woff2'),
        url('ProximaNova-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Cn Lt';
    src: url('ProximaNova-CondensedSemiboldItalic.woff2') format('woff2'),
        url('ProximaNova-CondensedSemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Cn Th';
    src: url('ProximaNova-CondensedThin.woff2') format('woff2'),
        url('ProximaNova-CondensedThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova-RegularItalic.woff2') format('woff2'),
        url('ProximaNova-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('ProximaNova-SemiboldItalic.woff2') format('woff2'),
        url('ProximaNova-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('ProximaNova-LightItalic.woff2') format('woff2'),
        url('ProximaNova-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Cn Th';
    src: url('ProximaNova-CondensedExtrabold.woff2') format('woff2'),
        url('ProximaNova-CondensedExtrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('ProximaNova-ThinItalic.woff2') format('woff2'),
        url('ProximaNova-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('ProximaNova-Light.woff2') format('woff2'),
        url('ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('ProximaNova-Extrabold.woff2') format('woff2'),
        url('ProximaNova-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('ProximaNova-ExtraboldItalic.woff2') format('woff2'),
        url('ProximaNova-ExtraboldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('ProximaNova-Extrabld.woff2') format('woff2'),
        url('ProximaNova-Extrabld.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova-BoldIt.woff2') format('woff2'),
        url('ProximaNova-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova-Bold.woff2') format('woff2'),
        url('ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('ProximaNova-Thin.woff2') format('woff2'),
        url('ProximaNova-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('ProximaNova-LightIt.woff2') format('woff2'),
        url('ProximaNova-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('ProximaNova-Semibold.woff2') format('woff2'),
        url('ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Bl';
    src: url('ProximaNova-Black.woff2') format('woff2'),
        url('ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('ProximaNova-SemiboldIt.woff2') format('woff2'),
        url('ProximaNova-SemiboldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova-RegularIt.woff2') format('woff2'),
        url('ProximaNova-RegularIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('ProximaNova-Regular.woff2') format('woff2'),
        url('ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}


